<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spectogram I guess?</title>
     <style>
        h1 {
            font-family: 'ＭＳ Ｐゴシック';  /* Use an 8-bit-style font */
            text-align: right;
            margin-top: 10px;
            color: #000; /* Fallback for older browsers */
            color: rgba(0, 0, 0, 0.5);
            font-size: 30pt;
}
    </style>
<body>
    <h1>Real time Spectogram</h1>
    <script src="static/spectogram.js"></script>
    <script src = "static/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/addons/p5.sound.js"></script></head>


</body>
</html>